<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%=h(:title)%></title>
  <meta name="description" content="twitter">
  <meta name="author" content="AlexTalker">
  <link rel="stylesheet" href="css/styles.css?v=1.0">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <%=yield%>
  <%if request.fullpath =~ /\/?*\/*/%>
    <br/><a href='/'>Go to home!</a>
  <%end%>
</body>
</html>